################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/.idea/
/cmake-build-debug/
/.vscode/
/build/